*{margin:0;padding:0;}

.content{
    margin: 50px auto;
    width: 80vw;
    box-shadow: 0 0 5px black;
    padding: 25px;
}

header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

    .contactInfo{
        display: flex;
        flex-direction: column;
    }

section{
    margin: 25px auto 0 auto;
    border-top: 2px solid black;
    width: 90%;
}

h3{
    margin-top: 10px;
}

ul{
    margin-left: 35px;
}