<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lee Morgan</title>
        <link rel="stylesheet" href="resumePage/resume.css">
    </head>
    <body>
        <div class="content">
            <header>
                <h1>Lee Morgan</h1>

                <div class="contactInfo">
                    <label> Email:
                        <a href="mailto:morgan.leer@protonmail.com">Morgan.LeeR@protonmail.com</a>
                    </label>

                    <label>GitHub:
                        <a href="https://github.com/morganlee909">MorganLee909</a>
                    </label>

                    <label>LinkedIn:
                        <a href="https://www.linkedin.com/in/lee-morgan-79575b1b/">Lee Morgan</a>
                    </label>

                    <label>Site:
                        <a href="leemorgan.io">leemorgan.io</a>
                    </label>
                </div>
            </header>

            <section>
                <h2>Full Stack Web Developer</h2>

                <h3>Vanilla JavaScript | MongoDB | HTML/CSS</h3>

                <p>Full stack web developer with expertise especially in vanilla JavaScript. Comptetencies include JavaScript, HTML, CSS, NoSQL databases (especially MongoDB) and server management for websites. Expert level knowledge of JavaScript with the ability to create traditional HTML based websites or single paged apps that are focused reliability and performance.</p>
            </section>

            <section>
                <h2>Education</h2>

                <h3>The Coding Dojo</h3>
                <p class="date">June 2019 - August 2019</p>
                <ul>
                    <li>MEAN stack</li>
                    <li>Python</li>
                    <li>C#/.NET</li>
                    <li>HTML/CSS/JavaScript</li>
                </ul>

                <h3>Some College at Coastal Carolina University</h3>
                <p class="date">August, 2014 - December, 2016</p>
                <p>Computer Science</p>
            </section>

            <section>
                <h2>Work Experience</h2>

                <h3>Web Developer at The Subline</h3>
                <p class="date">August 2019 - present</p>
                <p>Sole developer for a startup that attempts to reduce waste from restaurants through the use of ingredient tracking, metrics and machine learning.</p>
                <ul>
                    <li>Creation of a hybrid SPA frontend</li>
                    <li>Creation of a backend API to reliably and efficiently process data</li>
                    <li>Database design/creation for the handling of large volumes of data</li>
                    <li>Creating/managing the servers on which the application is hosted</li>
                    <li>Working with clients to build an application that best suits their needs</li>
                    <li>Optimization of the platform to handle large quantities of data efficiently</li>
                </ul>

                <h3>Security Officer at Pawleys Plantation</h3>
                <p class="date">June 2013 - August 2017</p>
                <p>Security officer responsible for handling the security of a residential living area.</p>
                <ul>
                    <li>Management of entry to secured areas</li>
                    <li>Dealing with potentially dangerous situations within the area</li>
                    <li>Mainting monitoring equipment and logs on site</li>
                </ul>

                <h3>Infantry team leader at United States Marine Corps</h3>
                <p class="date">April, 2008 - December, 2012</p>
                <p>Team leader responsible for leading other Marines during combat operations</p>
                <ul>
                    <li>Responsible for leading anywhere between 3 to 15 marines at a time</li>
                    <li>Responsible for safety and security of others during combat operations</li>
                    <li>2 years service in Afghanistan</li>
                    <li>Many responsibilities including, sercuring areas, training others and many more</li>
                </ul>
            </section>

            <section>
                <h2>Skills</h2>

                <ul>
                    <li>Vanilla JavaScript</li>
                    <li>Rust</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>MongoDB</li>
                    <li>Linux Server Management</li>
                    <li>Node.js</li>
                    <li>Git/GitHub</li>
                    <li>JSON</li>
                </ul>
            </section>

            <section>
                <h2>Languages</h2>

                <ul>
                    <li>Native English</li>
                    <li>Upper-Intermediate Russian</li>
                </ul>
            </section>
        </div>
    </body>
</html>