*{margin:0;padding:0;}

body{
    font-family: 'IBM Plex Mono', monospace;
}

/* Components */
strand-selector{
    display: flex;
    justify-content: center;
}

    strand-selector button{
        margin: 10px;
        background: none;
        font-size: 25px;
        font-weight: bold;
        border: none;
        transition: box-shadow 1s;
        padding: 5px;
    }

        strand-selector button:hover{
            box-shadow: 15px 15px 15px gray;
        }

.strand{
    transition: width 1s linear;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background: black;
    width: 100%;
    color: white;
    
}

    #header > *{
        margin-left: 25px;
    }

    #header a{
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 91, 188);
    border-radius: 10px;
    padding: 15px;
}

    form > *{
        margin: 10px;
    }