<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/finance/finance.css">
    </head>
    <body>
        <%- include("./ejs/home.ejs") %>

        <script src="./finance/bundle.js"></script>
    </body>
</html>