*{margin:0;padding:0;}

body, html{
    height: 100vh;
    width: 100vw;
    font-family: 'IBM Plex Mono', monospace;
}

form{
    display: flex;
    flex-direction: column;
}

    form > *{
        margin: 5px 0;
    }

.lineyBoi{
    height: 0;
    width: 100%;
    border: 1px solid black;
}

/* Tables */
th{
    border-bottom: 1px solid black;
}

tbody tr:nth-child(even){
    background: lightgray;
}

back-button{
    position: fixed;
    top: 10px;
    left: 10px;
}

.page{
    height: 100%;
    width: 100%;
    display: flex;
}

/*
HOME PAGE
*/
#homePage{
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
}

    #deleteAccount{
        position: fixed;
        top: 25px;
        left: 25px;
        background: red;
        color: white;
        padding: 5px;
    }

    .homeButtons{
        display: flex;
    }
        .homeButtons > *{
            margin: 5px;
        }

    #homeContent{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

        #transactions{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .transaction{
                cursor: pointer;
            }

                .transaction:hover{
                    background: gray;
                }

            .mainTd{
                padding: 5px;
                width: 150px;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        

        #incomeAndBills{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .subTd{
                text-align: center;
            }

            .actionable{
                cursor: pointer;
            }

                .actionable:hover{
                    box-shadow: 0 0 5px gray;
                }

    .horLabel{
        display: flex;
    }

/*
CREATE ACCOUNT PAGE
*/
#createAccountPage{
    justify-content: center;
    align-items: center;
}

/*
CREATE TRANSACTION PAGE
*/
#createTransactionPage{
    justify-content: center;
    align-items: center;
}

/*
CREATE CATEGORY PAGE
*/
#createCategoryPage{
    justify-content: center;
    align-items: center;
}

#logReg{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
CREATE BILL PAGE
*/
#createBillPage{
    justify-content: center;
    align-items: center;
}

/*
CREATE INCOME PAGE
*/
#createIncomePage{
    justify-content: center;
    align-items: center;
}

/*
CREATE ALLOWANCE PAGE
*/
#createAllowancePage{
    justify-content: center;
    align-items: center;
}

/*
TRANSACTION PAGE
*/
#transactionPage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #transactionPage label{
        color: gray;
        font-size: 12px;
        text-align: center;
        margin: 10px;
    }

    #transactionPage p{
        font-size: 25px;
        color: black;
    }

    #transactionPage button{
        background: none;
        border: none;
        cursor: pointer;
    }