body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px;
}

h2{
    margin: 10px;
}

h3{
    margin: 10px;
    text-decoration: underline;
    text-align: center;
}

canvas{
    height: 75vh;
    width: 85vw;
}

.horizontal{
    display: flex;
    justify-content: space-between;
}

    .stats{
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 10px;
        max-width: 25vw;
    }

        .stats > *{
            margin: 5px;
        }

        .general{
            margin-bottom: 25px;
        }

        .stat{
            display: flex;
            padding: 5px;
        }

        .stat p:first-of-type{
            font-weight: bold;
            width: 75%;
        }

        .general > p{
            margin-bottom: 10px;
        }