<!DOCTYPE html>
<html>
    <head>
        <title>CCP Corona Virus</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/coronaPage/corona.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <h1>Corona Virus</h1>
    </body>
</html>