<!DOCTYPE html>
<html>
    <head>
        <title>CCP Corona Virus</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/coronaPage/corona.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <h1>CCP Corona Virus Data</h1>

        <h2 id="locationHeader"></h2>

        <h2 id="dateHeader"></h2>

        <input id="date" type="date" onchange="dataChange()">

        <div class="horizontal">
            <div class="stats">
                <div class="stat">
                    <p>Total Cases:</p>
                    <p id="totalCases"></p>
                </div>
                <hr>

                <div class="stat">
                    <p>Total Deaths:</p>
                    <p id="totalDeaths"></p>
                </div>
                <hr>

                <div class="stat">
                    <p>New Cases Today:</p>
                    <p id="newCases"></p>
                </div>
                <hr>

                <div class="stat">
                    <p>New Deaths Today:</p>
                    <p id="newDeaths"></p>
                </div>
                <hr>

                <div class="stat">
                    <p>7-Day new case average: </p>
                    <p id="newCaseAverage7"></p>
                </div>
                <hr>

                <div class="stat">
                    <p>30-Day new case average: </p>
                    <p id="newCaseAverage30"></p>
                </div>
            </div>

            <canvas id="myCanvas"></canvas>
        </div>

        <p>*I will do my best to update all of the data every day</p>
        <p>**All data is from the <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">European Centre for Disease Prevention and Control</a></p>

        <script>let data = <%-JSON.stringify(data) %>;</script>
        <script src="../shared/graphs.js"></script> 
        <script src="/coronaPage/corona.js"></script>
    </body>
</html>