<!DOCTYPE html>
<html>
    <head>
        <title>CCP Corona Virus</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/coronaPage/corona.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <div>
            <a href="/corona/world">World</a>
            <a href="/corona/us">USA</a>
            <a href="/corona/china">China</a>
            <a href="/corona/taiwan">Taiwan</a>
            <a href="/corona/canada">Canada</a>
            <a href="/corona/russia">Russia</a>
            <a href="/corona/ukraine">Ukraine</a>
            <a href="/corona/kazakhstan">Kazakhstan</a>
            <a href="/corona/sweden">Sweden</a>
        </div>
            <h1 id="locationHeader"></h1>

            <p id="note">Search by state or county(leave county blank for state data)</p>

            <form id="usSearch" onsubmit="getUSData()" method="get">`
                <label>State:
                    <input id="state" type="text">
                </label>

                <label>County:
                    <input id="county" type="text">
                </label>

                <input type="submit" value="Find">
            </form>

            <h2 id="dateHeader"></h2>
        </div>

        <div class="horizontal">
            <div class="stats">
                <p id="status"></p>
                <div class="newCases">
                    <h3>Data</h3>
                    
                    <div class="stat">
                        <p>New Cases:</p>
                        <p id="newCases"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>Total Cases:</p>
                        <p id="totalCases"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>7-Day new case average: </p>
                        <p id="newCaseAverage7"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>30-Day new case average: </p>
                        <p id="newCaseAverage30"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>Total Deaths:</p>
                        <p id="totalDeaths"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>New Deaths:</p>
                        <p id="newDeaths"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>Infection rate: </p>
                        <p id="infectionRate"></p>
                    </div>

                    <div class="stat">
                        <p>Case Fatality Rate: <a href="https://www.britannica.com/science/case-fatality-rate"><img src="/shared/images/info.svg" alt="info"></a></p>
                        <p id="caseFatality"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>*Mortality: <a href="https://www.britannica.com/science/mortality-demography"><img src="/shared/images/info.svg" alt="info"></a></p>
                        <p id="mortality"></p>
                    </div>
                </div>

                <div class="general">
                    <h3>Analysis</h3>
                    <p id="percentYesterday"></p>
                    <p id="percent7Day"></p>
                    <p id="percent30Day"></p>
                    <p id="percentAverages"></p>
                </div>
            </div>

            <div id="graph"></div>
        </div>

        <p>- I will do my best to update all of the data every day</p>

        <p>- Data for China is inacurrate.  The CCP fabricates its data as propaganda.  This data is what is available, but China's data cannot be trusted</p>

        <p>- Data for individual countries is from the <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">ECDC</a>.  Data for individual states and counties in the US is from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a></p>

        <p>- Population for countries is from 2018 and from <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">ECDC</a>.  World population is set to 7,643,000,000.  <a href="https://www.census.gov/popclock/world">Source</a></p>

        <p>- State and county population data is from the <a href="https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/">US Census</a></p>

        <script>let data = <%- JSON.stringify(data); %></script>
        <script>
            <% if(locals.population){ %>
                let population = <%- JSON.stringify(population[0].population); %>
            <% } %>
        </script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="/coronaPage/corona.js"></script>
    </body>
</html>