<!DOCTYPE html>
<html>
    <head>
        <title>CCP Corona Virus</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/coronaPage/corona.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <div>
            <a href="/corona/world">World</a>
            <a href="/corona/us">USA</a>
            <a href="/corona/china">China</a>
            <a href="/corona/taiwan">Taiwan</a>
            <a href="/corona/canada">Canada</a>
        </div>

        <h1 id="locationHeader"></h1>

        <h2 id="dateHeader"></h2>

        <input id="date" type="date" onchange="dataChange()">

        <div class="horizontal">
            <div class="stats">
                <div class="newCases">
                    <h3>Data</h3>
                    
                    <div class="stat">
                        <p>New Cases:</p>
                        <p id="newCases"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>Total Cases:</p>
                        <p id="totalCases"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>7-Day new case average: </p>
                        <p id="newCaseAverage7"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>30-Day new case average: </p>
                        <p id="newCaseAverage30"></p>
                    </div>

                    <div class="stat">
                        <p>Total Deaths:</p>
                        <p id="totalDeaths"></p>
                    </div>
                    <hr>

                    <div class="stat">
                        <p>New Deaths:</p>
                        <p id="newDeaths"></p>
                    </div>
                    <hr>
                </div>

                <div class="general">
                    <h3>Analysis</h3>
                    <p id="percentYesterday"></p>
                    <p id="percent7Day"></p>
                    <p id="percent30Day"></p>
                    <p id="percentAverages"></p>
                </div>

                <div class="comments">
                    <h3>Opinion</h3>
                    <p></p>
                </div>
            </div>

            <canvas id="myCanvas"></canvas>
        </div>

        <p>*I will do my best to update all of the data every day</p>
        <p>**Data for China is inacurrate.  The CCP fabricates its data as propaganda.  This data is what is available, but China's data cannot be trusted</p>
        <p>***All data is from the <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">European Centre for Disease Prevention and Control</a></p>

        <script>let data = <%- JSON.stringify(data) %>;</script>
        <script>let comments = <%- JSON.stringify(comments) %>;</script>
        <script src="../shared/graphs.js"></script>
        <script src="/coronaPage/corona.js"></script>
    </body>
</html>