<div id="createCategoryPage" class="page" style="display:none;">
    <back-button></back-button>

    <form id="createCategoryForm">
        <h3>Create Category</h3>

        <label>Name
            <input id="createCategoryName" type="text" required>
        </label>

        <input type="submit" value="submit">
    </form>
</div>