<div id="createBillPage" class="page" style="display:none;">
    <back-button></back-button>

    <form id="createBillForm">
        <h3>Create Bill</h3>

        <label>Name
            <input id="createBillName" type="text" required>
        </label>

        <div class="lineyBoi"></div>

        <label>Amount
            <input id="createBillAmount" type="number" min="0" step="0.01">
        </label>

        <input type="submit" value="Submit">
    </form>
</div>