<div id="createAccountPage" class="page" style="display:none;">
    <back-button></back-button>
    
    <form id="createAccountForm">
        <h2>Create Account</h2>

        <input id="createAccountName" type="text" placeholder="account name" required>

        <input type="submit" value="SUBMIT">
    </form>
</div>