<div id="createAccountPage" class="page" style="display:none;">
    <form action="/finance/account" method="post">
        <h2>Create Account</h2>

        <input type="text" name="name" placeholder="account name" required>

        <input type="submit" value="SUBMIT">
    </form>
</div>