<div id="homePage" class="page">
    <h1 id="title"></h1>

    <button id="deleteAccount">Delete Bank Account</button>

    <div class="homeButtons">
        <button id="createAccountBtn">Create New Bank Account</button>

        <button id="createTransactionBtn">New Transaction</button>

        <button id="createCategoryBtn">Add a Category</button>

        <button id="createBillBtn">Add a Bill</button>

        <button id="createIncomeBtn">Add an Income Source</button>

        <button id="createAllowanceBtn">Add an Allowance</button>

        <select id="accountSelector"></select>
    </div>

    <div id="homeContent">
        <div id="incomeAndBills">
            <h2>Income</h2>

            <table id="incomeTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Recieved?</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="incomeBody"></tbody>
            </table>

            <h2>Bills</h2>

            <table id="billTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Paid?</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="billsBody"></tbody>
            </table>

            <h2>Allowance</h2>

            <table id="allowanceTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Spent</th>
                        <th>Remaining</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="allowanceBody"></tbody>
            </table>
        </div>
        
        <div id="transactions">
            <h2>Transactions</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="transactionsBody"></tbody>
            </table>
        </div>

        <div>
            <h3 id="balance"></h3>

            <h2 id="monthLabel"></h2>
            <label class="horLabel">Discretionary (Income - bills): $
                <p id="totalDiscretionary"></p>
            </label>

            <label class="horLabel">Remaining Discretionary: $
                <p id="remainingDiscretionary"></p>
            </label>

            <label class="horLabel">Total Income: $
                <p id="totalIncome"></p>
            </label>

            <label class="horLabel">Total Bills: $
                <p id="totalBills"></p>
            </label>
        </div>
    </div>
</div>