<div id="transactionPage" class="page" style="display:none;">
    <back-button></back-button>
    

    <label>Date
        <p id="transactionDate"></p>
    </label>
    
    <label>Location
        <p id="transactionLocation"></p>
    </label>

    <label>Category
        <p id="transactionCategory"></p>
    </label>

    <label>Amount
        <p id="transactionAmount"></p>
    </label>

    <label>Notes
        <p id="transactionNote"></p>
    </label>
</div>