<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birthday Paradox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/birthdayParadoxPage/birthdayParadox.css">
    </head>
    <body>
        <a href="https://en.m.wikipedia.org/wiki/Birthday_problem" target="_blank"><h1>The Birthday Paradox</h1></a>

        <button class="button" onclick="birthdayParadoxObj.display()">Try Again!</button>

        <input id="partiers" onkeyup="birthdayParadoxObj.calculateChance()" type="number" step="1" min="0" max="365">
        
        <h3></h3>

        <div id="datesDiv"></div>

        <script src="/birthdayParadoxPage/birthdayParadox.js"></script>
    </body>
</html>