<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birthday Paradox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/birthdayParadoxPage/birthdayParadox.ejs">
    </head>
    <body>
        <a href="https://en.m.wikipedia.org/wiki/Birthday_problem"><h1>The Birthday Paradox</h1></a>
    </body>
</html>