<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
    	<title>Sudoku Solver</title>
        <link rel="stylesheet" href="/sudokuPage/sudoku.css">
	</head>
    <body>
        <div id="sudokuStrand">
            <h1>Sudoku Solver</h1>

            <div class="buttonsDiv">
                <button class="button" onclick="sudokuObj.solve()">Solve</button>

                <a class="button" href="/">Return</a>
            </div>

            <table>
                <tbody></tbody>
            </table>
        </div>

        <script src="/sudokuPage/sudoku.js"></script>
        <script src="/sudokuPage/controller.js"></script>
    </body>
</html>