<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
    	<title>Sudoku Solver</title>
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/sudokuPage/sudoku.css">
	</head>
    <body>
        <script type="text/javascript" src="/sudokuPage/sudoku.js"></script>
    </body>
</html>