<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
    	<title>Sudoku Solver</title>
        <link rel="stylesheet" href="/sudokuPage/sudoku.css">
	</head>
    <body>
        <div id="sudokuStrand">
            <table>
                <tbody></tbody>
            </table>

            <button onclick="sudokuObj.solve()">Solve</button>
        </div>

        <script src="/sudokuPage/sudoku.js"></script>
        <script src="/sudokuPage/controller.js"></script>
    </body>
</html>