<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lee Morgan</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/homePage/home.css">
    </head>
    <body>
        <h1>Lee Morgan</h1>

        <div class="content">
            <div class="section">
                <header>ABOUT ME</header>

                <ul>
                    <a href="/resume">
                        <h3>Resume</h3>
                    </a>

                    <a href="/bio">
                        <h3>Bio</h3>
                    </a>
                    <a href="https://github.com/MorganLee909">
                        <h3>GitHub</h3>

                        <img src="../shared/images/githubLogo.png" alt="GitHub Logo">
                    </a>
                    <a href="https://www.linkedin.com/in/lee-morgan-79575b1b/">
                        <h3>LinkedIn</h3>

                        <img src="../shared/images/linkedinLogo.png" alt="LinkedIn Logo">
                    </a>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="section">
                <header>PERSONAL PROJECTS</header>

                <ul>
                    <a href="https://thesubline.com">
                        <h3>The Subline</h3>

                        <div class="info">
                            <img src="../shared/images/subline.png" alt="Subline Logo">

                            <p>A website to help restaurants prevent waste use data and machine learning</p>
                        </div>
                    </a>

                    <a href="/jeopardy">
                        <h3>Jeopardy (EFL)</h3>

                        <div class="info">
                            <img src="../shared/images/jeopardy.png" alt="Jeopardy">

                            <p>A Jeopardy game created primarily for learners of English</p>
                        </div>
                        
                    </a>

                    <a href="/sudoku">
                        <h3>Sudoku Solver</h3>

                        <div class="info">
                            <img src="../shared/images/sudoku.png" alt="Sudoku">

                            <p>Stuck on a particulary difficult game of sudoku?  Enter any sudoku puzzle and have it solved immediately</p>
                        </div>
                    </a>

                    <a href="/birthdayparadox">
                        <h3>The Birthday Paradox</h3>

                        <div class="info">
                            <img src="../shared/images/birthday.jpg" alt="Birthday Paradox">

                            <p>An demonstration of the counterintuitive birthday paradox</p>
                        </div>
                    </a>

                    <a href="/corona">
                        <h3>CCP Corona Virus</h3>

                        <div class="info">
                            <img src="../shared/images/coronaVirus.jpeg" alt="Corona Virus">

                            <p>A display and analysis of all the data concerning cases and deaths from the Corona Virus from across the world</p>
                        </div>
                    </a>

                    <a href="/finance">
                        <h3>Personal Finance</h3>

                        <div class="info">
                            <img src="../shared/images/money.jpeg" alt="Personal Finance">

                            <p>A simple app for managing your personal finances.  Mostly for personal use.</p>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="section">
                <header>LIST OF INTERESTING WEBSITES</header>

                <ul>
                    <a href="https://cs-online.club/en/servers">
                        <h3>CS:GO in the browser</h3>

                        <p>A website where you can play CS:GO in the browser with other people online</p>
                    </a>

                    <a href="https://driveandlisten.herokuapp.com">
                        <h3>Drive and Listen</h3>

                        <p>Pretend to be driving your car and listening to the radio.  Watch cars driving down the road all over the world while listening to local radio stations.</p>
                    </a>

                    <a href="https://www.ekzhang.com/game-of-life">
                        <h3>Conway's Game of Life</h3>

                        <p>Play around and experiment with different situations in Conway's Game of Life</p>
                    </a>

                    <a href="https://librivox.org">
                        <h3>LibriVox</h3>

                        <p>Free public domain audiobooks.  Listen to books for free, or volunteer your time to read them for others to listen to.</p>
                    </a>

                    <a href="https://rocketcrab.com">
                        <h3>rocketcrab.com</h3>

                        <p>Party games right on your phone.</p>
                    </a>

                    <a href="https://thetruesize.com">
                        <h3>The True Size of</h3>

                        <p>The common Mercator projection map that we are used to distorts the real size of countries.  This site will let you move and directly compare the real size of different countries to see how big they really are.</p>
                    </a>

                    <a href="https://win95.ajf.me">
                        <h3>Windows 95</h3>

                        <p>Use a virtual Windows 95 computer right in your browser.</p>
                    </a>

                    <a href="https://pointerpointer.com">
                        <h3>Pointer Pointer</h3>

                        <p>Point to your pointer.</p>
                    </a>

                    <a href="https://pudding.cool/2020/12/judge-my-spotify">
                        <h3>Judge My Spotify</h3>

                        <p>Let an AI criticize your taste in music.</p>
                    </a>
                </ul>
            </div>
        </div>
    </body>
</html>