<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lee Morgan</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/homePage/home.css">
    </head>
    <body>
        <h1>Lee Morgan</h1>
        <h2>A space for things and stuff</h2>

        <h3>About me</h3>
        <a href="/resume">Resume</a>
        <a href="/bio">Bio</a>

        <h3>My Projects</h3>
        <ul>
            <li><a href="/jeopardy">Jeopardy (EFL)</a></li>
            <li><a href="/sudoku">Sudoku Solver</a></li>
            <li><a href="/birthdayparadox">The Birthday Paradox</a></li>
            <li><a href="/corona">CCP Corona Virus</a></li>
        </ul>
        
        <h3>Some interesting websites</h3>
        <a href="https://cs-online.club/en/servers">CS:GO in the browser</a>
        <a href="https://driveandlisten.herokuapp.com">Drive and Listen</a>
        <a href="https://www.ekzhang.com/game-of-life">Conway's Game of Life</a>
        <a href="https://librivox.org">LibriVox</a>
    </body>
</html>