<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lee Morgan</title>
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <%- include ("../shared/header.ejs") %>

        
    </body>
</html>